.manu-bar {
    font-size: 19px;
    padding: 30px 0;
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    width: 100%;
    text-align: left;
  }
 
.manu {
    display: none;
    padding-bottom: 30px;
  }
